.container{
    background: url(https://cdn.dribbble.com/users/1107982/screenshots/15590058/media/009849e098dfd3c036ca2a2dd40ab17f.png?compress=1&resize=1600x1200&vertical=top);

    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 100vh;
    overflow-y: hidden;
}